flowsss.json
[{"id":"a8db2b9f.fcc578","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b21d26c5.c78b88","type":"inject","z":"a8db2b9f.fcc578","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["3cd5ad50.16a632"]]},{"id":"959f51dd.dd9da","type":"ui_form","z":"a8db2b9f.fcc578","name":"","label":"","group":"4f5b8843.026458","order":6,"width":0,"height":0,"options":[{"label":"preg","value":"preg","type":"number","required":true,"rows":null},{"label":"plas","value":"plas","type":"number","required":true,"rows":null},{"label":"pres","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin","value":"Skin","type":"number","required":true,"rows":null},{"label":"test","value":"test","type":"number","required":true,"rows":null},{"label":"mass","value":"mass","type":"number","required":true,"rows":null},{"label":"pedi","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","Skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":260,"wires":[["3cd5ad50.16a632"]]},{"id":"3cd5ad50.16a632","type":"function","z":"a8db2b9f.fcc578","name":"pretoken","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"Skin\",msg.payload.Skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey= \"RKSIDgr8y4nCW6e2u-eRflU3L0Hi11zoc3ufJW7dFAeQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["dd28503c.f5b9a"]]},{"id":"dd28503c.f5b9a","type":"http request","z":"a8db2b9f.fcc578","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":220,"wires":[["82aeb1f1.cbe6e"]]},{"id":"82aeb1f1.cbe6e","type":"function","z":"a8db2b9f.fcc578","name":"pre prediction","func":"var preg = global.get('preg')\nvar plas = global.get('plas')\nvar pres = global.get('pres')\nvar Skin = global.get('Skin')\nvar test = global.get('test')\nvar mass = global.get('mass')\nvar pedi = global.get('pedi')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"9c54b2a3-d06c-4569-bcfb-084b1200ce87\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \"plas\", \"pres\", \"Skin\",\"test\",\"mass\",\"pedi\",\"age\"], \"values\": [[preg,plas,pres,Skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["482a1fba.bfe98"]]},{"id":"482a1fba.bfe98","type":"http request","z":"a8db2b9f.fcc578","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e0d992f2-1b7b-4c85-bb7a-bae8d2293123/predictions","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":140,"wires":[["c2df1b69.a5f8a8"]]},{"id":"c2df1b69.a5f8a8","type":"function","z":"a8db2b9f.fcc578","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":60,"wires":[["699bf766.43fdf8","efca20b6.89e95"]]},{"id":"699bf766.43fdf8","type":"ui_text","z":"a8db2b9f.fcc578","group":"4f5b8843.026458","order":1,"width":0,"height":0,"name":"","label":"class","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":320,"wires":[]},{"id":"efca20b6.89e95","type":"debug","z":"a8db2b9f.fcc578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":60,"wires":[]},{"id":"4f5b8843.026458","type":"ui_group","z":"","name":"Default","tab":"cf60d02c.26ffe","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf60d02c.26ffe","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]